<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container d-flex justify-content-center align-items-center" style="border:1px solid black;height:100vh;">
<div class="row justify-content-md-center ">


<div class="card" style="width: 18rem;" align="center">
  <img class="centrar" src="assets/images/angular.png" height="100" width="100" align="center">
  <div class="card-body">
    <h3 class="card-title"><b>Angular</b></h3>
    <p class="card-text">Estoy desarrollado en Angular.</p>
  </div>
</div>

<div class="card" style="width: 18rem;" align="center">
  <img class="centrar" src="assets/images/bootstrap.png" height="100" width="100" align="center">
  <div class="card-body">
    <h3 class="card-title"><b>Bootstrap</b></h3>
    <p class="card-text">Tengo botones de BootStrap.</p>
  </div>
</div>
<div class="card" style="width: 18rem;" align="center">
  <img class="centrar" src="assets/images/material.png" height="100" width="100" >
  <div class="card-body">
    <h3 class="card-title"><b>Material</b></h3>
    <p class="card-text">Mi sidenav es de Material.</p>
  </div>
</div>
<div class="card" style="width: 18rem;" align="center">
  <img class="centrar" src="assets/images/apirest.png" height="100" width="100" >
  <div class="card-body">
    <h3 class="card-title"><b>Rest Api</b></h3>
    <p class="card-text">Los datos provienen de <a href="https://restcountries.com/">Rest countries</a></p>
  </div>
</div>


</div>
</div>


<!--
<div class="card" aling="center">
  <img src="../../../assets/images/angular.png" height="100" width="100" align="center">

  <div class="card-body">
    <h5 class="card-title">Herramientas usadas:</h5>
    <p class="card-text">Estoy desarrollado en Angular, usando boostrap, Material y haciendo una peticion a .</p>
    <a href="" class="btn btn-primary">Inicio</a>
  </div>
</div>
-->
